/* basic components */
body {
	margin: 0;
	padding: 0;
}

body, table {
	background-color: white;
}

a {
	font-size: 20px;
}

label, input, ul, li {
	font-size: 18px;
}

textarea {
	font-size: 17px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
	padding: 5px;
}

/* header */
#container-header {
	height: 60px;
	border-bottom: 2px solid gray;
}

#container-header h1 {
	margin-left: 10px;
}

/* body */
#container-body {
	display: flex;
	flex-direction: row;
}

/* sidebar */
#container-sidebar {
	width: 180px;
	height: calc(100vh - 105px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#container-sidebar ul {
	list-style-type: none;
	padding-left: 15px;
}

#container-sidebar ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* content */
#container-content {
	width: 100%;
	min-height: calc(100vh - 105px);
	padding: 10px;
	background-color: #f7f7f7;
}

#container-content .button-class {
	width: 350px;
	min-height: 110px;
	max-height: 110px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
	overflow: hidden;
	background-color: white;
	border: 1px solid gray;
}

#container-content .button-class:hover {
	cursor: pointer;
	border: 1px solid black;
}

#container-content .container-button {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
}

#container-content-student {
	display: flex;
	flex-direction: row;
}

#container-content-student table {
	margin-right: 30px;
}

#container-content-student label {
	display: inline-block;
	width: 100px;
}

#container-content-student label, #container-content-student input {
	margin-bottom: 10px;
}

#container-content-student input[type='submit'] {
	float: right;
}

#container-content-classdetail label {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

#container-content-classdetail label, #container-content-classdetail input {
	margin-bottom: 5px;
}

#container-content-class form label {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

#container-content-class form label, #container-content-class form input {
	margin-bottom: 5px;
}

#container-content-class form input[type='checkbox'] {
	width:20px;
    height:20px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.container-checkbox {
	text-align: center;
}

.container-checkbox input[type='checkbox'] {
	width:20px;
    height:20px;
}

#container-content .button-class {
	vertical-align: top;
}