<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Attendance</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/main.css" />
	<script>
		function openAttendance(classId){
			var url = "http://localhost:8080/attendance/" + classId; 
			window.location.href =  url;
		}
	</script>
</head>

<body>
	<div id="container-main">
		<div id="container-header" th:replace="/layout :: header"></div>
		<div id="container-body">
			<div id="container-sidebar" th:replace="/layout :: sidebar"></div>
			<div id="container-content">
				<h3>Please select a class to view an attendance:</h3>
				<div class="container-button">
					<div th:each="class: ${list}">
					<button class="button-class" th:onclick="openAttendance([[${class.id}]])">
						<h3 class="button-class-name" th:text="${class.name}"></h3>
						<p class="button-class-description" th:text="${class.description}"></p>
					</button>
				</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>