<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Class Detail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body>
	<div id="container-main">
		<div id="container-header" th:replace="/layout :: header"></div>
		<div id="container-body">
			<div id="container-sidebar" th:replace="/layout :: sidebar"></div>
			<div id="container-content">
				<div id="container-content-classdetail">
					<h2>Class Detail</h2>
				
					<label>Name:</label>
					<input type="text" th:value="${model.name}" readonly="true" />			
					<br/>
					
					<label>Description:</label>
					<input type="text" th:value="${model.description}" readonly="true" />
					<br/>
					
					<label>Schedule:</label>
					<input type="text" th:value="${model.schedule}" readonly="true" />
					<br/><br/>
					
					<label>Students:</label>
				</div>
				<br/>
			</div>
		</div>
	</div>
	
</body>

</html>