<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Error</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body>
	<div id="container-main">
		<div id="container-header" th:replace="/layout :: header"></div>
		<div id="container-body">
			<div id="container-sidebar" th:replace="/layout :: sidebar"></div>
			<div id="container-content">
				<p style="color: red;">The system has encountered an error: <span th:text="${message}"></span></p>
			</div>
		</div>
	</div>
	
</body>

</html>